server:
  port: 8600
spring:
  datasource:
    username: root
    password: 1234
    url: jdbc:mysql://localhost:3306/farm_user?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=GMT%2B8
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
  application:
    name: farm-user
logging:
  level:
    com.internetplus.farm.product: info
mybatis-plus:
  mapper-locations: classpath:/mapper/product/*.xml
  global-config:
    db-config:
      id-type: auto
      # 配置逻辑删除 1代表删除 0代表已删除
      logic-delete-value: 1
      logic-not-delete-value: 0