spring:
  application:
    name: mall-gateway
  cloud:
    nacos:
      discovery:
        server-addr: aitmaker.cn:8848
#   精确路由放在上面（优先级高），模糊路由放在下面（优先级低）
    gateway:
      routes:
        # lb: 所有mall-product的请求都会被截取掉 /api/
        - id: product_route
          uri: lb://farm-product
          predicates:
            - Path=/api/product/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}
        - id: user_route
          uri: lb://farm-user
          predicates:
            - Path=/api/user/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}
        #         api/product/info/list
        - id: order_route
          uri: lb://farm-order
          predicates:
            - Path=/api/order/**
          filters:
            - RewritePath=/api/(?<segment>.*), /$\{segment}
        - id: admin_route
          uri: lb://renren-fast
          predicates:
            - Path=/api/**
          filters:
            - RewritePath=/api/(?<segment>.*), /renren-fast/$\{segment}

